html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    html {
        width: 100vw;
        box-sizing: border-box;
    }
    
}

/* body * {
    outline: 1px solid red; /* Cek elemen yang keluar dari layar 
} */
body {
    background-color: #DAEAF8;
    height: 1000px;
    margin: 0%;
}

/* Logo */
.main-header {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 50px;
    align-items: center;
}

.logo {
    width: 248px;
}

@media screen and (max-width: 1200px) {
    .logo {
        width: 255px;
    }

    .main-header {
        display: flex;
        justify-content: center;
    }
}

/* Navigation Bar */
.nav {
    position: sticky;
    top: 20px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    width: 400px;
    font-family: poppins;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000;

    position: fixed;
    right: 50px;
    top: 40px;
}

@media screen and (max-width: 1200px) {
    .nav {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 20px;
        top: auto;
    }
    
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>a {
    color: black;
    text-decoration-line: none;
    font-size: 18px;
}

.nav a:hover {
    color: #5C72FF;
    transition: color 0.3s ease-in-out;
}

/* Main Content */
main {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    main {
        margin-top: 1vh;
    }
}

/* @media screen and (max-width: 800px) {
    .lingkaran {
        display: none;
    }
    
} */

/* Home */
#Home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

/* Greetings */

.greetings {
    display: flex;
    flex-direction: column;  
    height: auto;
    grid-auto-rows: auto;
}

.greetings p {
    font-size: 30px;
    color: #2E5077;
    font-family: poppins;
    margin-bottom: 10px;
}

.greetings h1 {
    font-size: 48px;
    color: #2E5077;
    font-family: poppins;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 100px;
    
}

.greetings .btn-container {
    gap: 10px; 
}

.social-media {
    margin-top: 150px; 
    display: flex;
    gap: 20px; 
}

.sosial-media a {
    display: flex;
    transition: box-shadow 0.3s ease-in-out;
}

.sosial-media a:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1200px) {
    .greetings h1 {
        font-size: 30px;
    }

    .greetings p {
        font-size: 18px;
    }

    .social-media {
        margin-top: 50px;
    }
    
    #home {
        display: flex;
        gap: 20px;
    }

    .btn {
        padding: 10px 20px 10px 20px;
        font-size: 14px;
        margin-top: 1vh;
    }

    #btncontactme {
        padding: 10px 20px 10px 20px;
        font-size: 11px;
    }

    #btnaboutme {
        padding: 10px 20px 10px 20px;
        font-size: 11px;
    }

    .greetings h1 {
        margin-bottom: 50px;
    }

    .social-media {
        margin-top: 50px;
        scale: 1;
        gap: 1vw;
    }

    .social-media a {
        scale: 0.6;
    }

    .greetings {
        display: flex;

    }
}

/* Home Photo */
.HomePhoto img {
    width: 400px;
    height: auto;
}

@media screen and (max-width: 1200px) {
    .HomePhoto img {
        width: 200px;
    }
    
}

/* Home Button */
.btn {
    background-color: #5C72FF;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    font-family: poppins;
    font-size: 18px;
    text-decoration: none;
    margin-top: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#btncontactme {
    background-color: rgba(190, 226, 255, 0.1);
    color: #2E5077;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-left: 1rem;
}

#btncontactme:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
}

.btn:hover {
    background-color: #2E5077;
    transition: background-color 0.3s ease-in-out;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

#lingkaran1 {
    position: absolute;
    width: 750px; 
    height: 750px; 
    background-color: #5C72FF; 
    border-radius: 50%; 
    filter: blur(150px); 
    right: -300px;
    top: 400px;
    z-index: -1;
    overflow: hidden;
}

#lingkaran2 {
    position: absolute;
    width: 750px; 
    height: 750px; 
    background-color: #A1EBFF; 
    border-radius: 50%; 
    filter: blur(150px); 
    right: 200px;
    top: 700px;
    z-index: -1;
}

#lingkaran3 {
    position: absolute;
    width: 750px; 
    height: 750px; 
    background-color: #5C72FF; 
    border-radius: 50%; 
    filter: blur(150px); 
    left: 50px;
    top: 800px;
    z-index: -4;
}

#lingkaran4 {
    position: absolute;
    width: 750px; 
    height: 750px; 
    background-color: #A1EBFF; 
    border-radius: 50%; 
    filter: blur(150px); 
    left: -150px;
    top: 400px;
    z-index: -3;
}

@media screen and (max-width: 1200px) {
    #lingkaran1 {
        right: 0vw;
        top: 40vh;
        width: 500px;
        height: 500px;
        filter: blur(100px);
        overflow: hidden;
        border-top-right-radius:0 ;
        border-bottom-right-radius: 0;
        z-index: -3;
    }
}

@media screen and (max-width: 800px) {
    #lingkaran1 {
        width: 400px;
        height: 400px;
        filter: blur(78px);
    }

    #lingkaran2 {
        width: 400px;
        height: 400px;
        filter: blur(80px);
        right: 100px;
    }

    #lingkaran3 {
        width: 400px;
        height: 400px;
        filter: blur(80px);
        top: 110vh;
        left: 3vw;
    }

    #lingkaran4 {
        width: 400px;
        height: 400px;
        filter: blur(80px);
    }
}

/* About Me */
#AboutMe {
    margin-top: 100px;
    height: auto;
}

#AboutMeBody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#AboutMeText {
    font-family: poppins;
    font-size: 48px;
    color: #5C72FF;
}
    
#fysphoto2 {
    width: 300px;
    height: auto;
    margin-top: 50px;
}

#AboutMeDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#AboutMeBody h2 {
    font-family: poppins;
    font-size: 30px;
    color: #2E5077;
    margin-top: 20px;
}

#AboutMeBody p {
    font-family: poppins;
    font-size: 18px;
    color: #2E5077;
    text-align: justify;
}

.contact-card {
    display: flex;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
    margin: 10px 0;
    font-family: poppins;
}

.email-contact-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.phone-contact-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.instagram-contact-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.linkedin-contact-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.address-contact-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    #AboutMe {
        margin-top: 1vh;
    }

    #AboutMeBody {
        display: flex;
        justify-content: space-around;
    }

    #AboutMeText {
        font-size: 30px;
    }

    #AboutMeBody h2 {
        font-size: 18px;
        margin-block-end: 0;
    }

    #AboutMeBody p {
        font-size: 11px;
        margin-bottom: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-top: 10px;
    }

    #AboutMeDetails {
        gap: 5px;
    }

    #fysphoto2 {
        width: 150px;
        height: auto;
    }

    .contact-card img {
        scale: 0.6;
    }

    .contact-card span {
        font-size: 11px;
    }

    .contact-card {
        margin: 0;    
    }

    .email-contact-card {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 0px;
    }
    .phone-contact-card {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 0px;
    }
    .instagram-contact-card {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 0px;
    }
    .linkedin-contact-card {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 0px;
    }
    .address-contact-card {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 0px;
    }
}

/* Education & Skills */
#EducationSkills {
    margin-top: 100px;
    height: auto;
    display: flex;
    gap: 50px;
}

.education {
    background-color: rgba(190, 226, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.education-card {
    font-family: poppins;
    width: auto;
    display: flex;
    justify-content: space-around;
    gap: 2vw;
    position: relative;
}

.education h2 {
    font-family: poppins;
    font-size: 30px;
    color: #5C72FF;
}

.education-card h3 {
    font-size: 18px;
    color: #2E5077;
}

.education-card p {
    font-size: 18px;
    color: #2E5077;
}

.skills {
    background-color: rgba(190, 226, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.skills h2 {
    font-family: poppins;
    font-size: 30px;
    color: #5C72FF;
}

.skills-card {
    font-family: poppins;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-card h3 {
    font-size: 18px;
    color: #2E5077;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-card img {
    width: 250px;
}

.educard {
    position: relative;
}

.EducationDetails {
    margin-left: 40px;
}

.education-card::before {
    content: "";
    position: relative;
    left: 2.5vw;
    top: 2vh;
    width: 4px;
    height: 70%;
    background: #2E5077;
    display: none;
}

#circle1 {
    position: absolute;
    width: 20px; 
    height: 20px; 
    background-color: #2E5077; 
    border-radius: 50%; 
    z-index: 1000;
}

#circle2 {
    position: absolute;
    width: 20px; 
    height: 20px; 
    background-color: #2E5077; 
    border-radius: 50%; 
    z-index: 1000;
}

#circle3 {
    position: absolute;
    width: 20px; 
    height: 20px; 
    background-color: #2E5077; 
    border-radius: 50%; 
    z-index: 1000;
}

#line1 {
    position: absolute;
    width: 6px; 
    height: 320px; 
    background-color: #2E5077; 
    left: 40px;
    top: 150px;
    z-index: 1000;
}

@media screen and (max-width: 1200px) {
    #EducationSkills {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .education {
        width: 100%;
    }

    .skills {
        width: 100%;
    }

    .skills-card img {
        width: 150px;
    }

    .skills-card h3 {
        font-size: 14px;
    }

    .education-card p {
        font-size: 14px;
    }

    .education-card h3 {
        font-size: 14px;
    }
    
}

/* Project */
#project-details {
    background-color: rgba(190, 226, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 70px;
    z-index: 1;
}

#Project h1 {
    font-family: poppins;
    font-size: 48px;
    color: #5C72FF;
    display: flex;
    justify-content: center;
}

.project-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 8vw;
}

#project-card1 {
    padding: 15px 30px 15px 30px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(190, 226, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 150px;
    height: 250px;
}
#project-card2 {
    padding: 15px 30px 15px 30px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(190, 226, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 150px;
    height: 250px;
}
#project-card3 {
    padding: 15px 30px 15px 30px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(190, 226, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 150px;
    height: 250px;
}

#project-card1:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
}
#project-card2:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
}
#project-card3:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
}

#view-all-project {
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(190, 226, 255, 0.1);
    color: #2E5077;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

#view-all-project:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
}

#view-all-project a {
    text-decoration: none;
    font-family: poppins;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    #project-details {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }

    #Project h1 {
        font-size: 30px;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #project-card1 {
        width: 100%;
    }
    #project-card2 {
        width: 100%;
    }
    #project-card3 {
        width: 100%;
    }

    #view-all-project {
        padding: 10px 20px 10px 20px;
        font-size: 18px;
        margin-top: 1vh;
    }

    #view-all-project a {
        font-size: 18px;
    }
    
}

/* Background */
#lingkaran5 {
    position: absolute;
    width: 750px; 
    height: 750px; 
    background-color: #5C72FF; 
    border-radius: 50%; 
    filter: blur(150px); 
    right: -300px;
    top: 2400px;
    z-index: -1000;
    overflow: hidden;
}

#lingkaran6 {
    position: absolute;
    width: 750px; 
    height: 750px; 
    background-color: #A1EBFF; 
    border-radius: 50%; 
    filter: blur(150px); 
    left: -300px;
    top: 2400px;
    z-index: -1000;
}

@media screen and (max-width: 1200px) {
    #lingkaran5 {
        right: 0vw;
        width: 500px;
        height: 500px;
        filter: blur(100px);
        overflow: hidden;
        border-top-right-radius:0 ;
        border-bottom-right-radius: 0;
        z-index: -3;
    }
}

@media screen and (max-width: 800px) {
    #lingkaran5 {
        width: 400px;
        height: 400px;
        filter: blur(80px);
    }

    #lingkaran6 {
        width: 400px;
        height: 400px;
        filter: blur(60px);
    }
}

/* Contact Me */
#ContactMe {
    position: relative;
    margin-top: 20vh;
    background-color: rgba(190, 226, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    width: 60%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-me-form {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
}

#ContactMe h1 {
    font-family: poppins;
    font-size: 48px;
    color: #5C72FF;
    display: flex;
    justify-content: center;
    margin-block-start: 0em
}

.input-container-all {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35vw;
}

#name {
    width: auto;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(190, 226, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-top: 10px;
    font-family: poppins;
}

#email {
    width: auto;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(190, 226, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-top: 10px;
    font-family: poppins;
}

#phone {
    width: auto;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(190, 226, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-top: 10px;
    font-family: poppins;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#message {
    width: 100%;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(190, 226, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-top: 10px;
    font-family: poppins;
}

#submit-button {
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(190, 226, 255, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    font-family: poppins;
    color: rgb(46, 80, 119, 0.5);
}

#submit-button:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
}

#lingkaran7 {
    position: absolute;
    width: 750px; 
    height: 750px; 
    background-color: #5C72FF; 
    border-radius: 50%; 
    filter: blur(150px); 
    left: 25%;
    top: 3100px;
    z-index: -1000;
}

@media screen and (max-width: 1200px) {
    #ContactMe {
        background-color: rgba(190, 226, 255, 0.3);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        border: 2px solid rgba(255, 255, 255, 0.3);
        margin-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 70px;
        z-index: 1;
        width: 100%;
        position: relative;
        left: 0;
    }

    #contact-me-form {
        display: flex;
        flex-direction: column;
        gap: 1px;
        width: 40vw;
    }

    #ContactMe h1 {
        font-size: 30px;
    }

    .input-container-all {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    #name {
        max-width: 100%;
    }

    #email {
        max-width: 100%;
    }

    #phone {
        max-width: 100%;
    }

    #message {
        width: 100%;
        max-width: 100%;
        height: 30vh;
        box-sizing: border-box;
    }

    #submit-button {
        padding: 10px 20px 10px 20px;
        font-size: 18px;
        margin-top: 4vh;
        width: auto;
    }

    #submit-button a {
        font-size: 18px;
    }

    #lingkaran7 {
        position: absolute;
        left: 50%;
        right: 50%;
        top: 500vh;
        transform: translate(-50%, -50%);
        width: 500px;
    }
    
}

@media screen and (max-width: 800px) {
    #lingkaran7 {
        width: 400px;
        height: 400px;
        filter: blur(100px);
        top: 490vh;
    }
}

/* Footer */
footer {
    margin-top: 100px;
    background-color: #00355A;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-family: poppins;
    font-size: 18px;
    width: auto;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: poppins;
    font-size: 18px;
    width: auto;
}

.nav-footer h3 {
    color: #A1EBFF;
    text-decoration-line: none;
}

.nav-footer a {
    color: #DAEAF8;
    text-decoration-line: none;
    margin-right: 10px;
}

.nav_footer nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.nav_footer a:hover {
    color: #5C72FF;
    transition: color 0.3s ease-in-out;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: poppins;
    font-size: 18px;
    width: auto;
}

.contact-footer h3 {
    color: #A1EBFF;
    text-decoration-line: none;
}

.contact-footer p {
    color: #DAEAF8;
    margin: 0%;
    margin-bottom: 20px;
}

.location-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: poppins;
    font-size: 18px;
    width: auto;
}

.location-footer h3 {
    color: #A1EBFF;
    text-decoration-line: none;
}

.location-footer p {
    color: #DAEAF8;
    margin: 0%;
    margin-bottom: 20px;
}

.footer-bottom {
    font-family: poppins;
    font-size: 18px;
    font-weight: 250;
    color: #DAEAF8;
}

@media screen and (max-width: 1200px) {
    .footer-container h3 {
        font-size: 14px;
    }
    
    .footer-container p {
        font-size: 14px;
    }

    .footer-bottom{
        font-size: 14px;
    }

    .footer-container a {
        font-size: 14px;
    }
}