html {
    scroll-behavior: smooth;
}

body {
    background-color: #DAEAF8;
    height: 1000px;
}

/* Logo */
.main-header {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 50px;
    align-items: center;
}

.logo {
    width: 248px;
}

/* Navigation Bar */
.nav {
    position: sticky;
    top: 20px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    width: 400px;
    font-family: poppins;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000;

    position: fixed;
    right: 50px;
    top: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>a {
    color: black;
    text-decoration-line: none;
    font-size: 18px;
}

.nav a:hover {
    color: #5C72FF;
    transition: color 0.3s ease-in-out;
}

/* Main Content */
main {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

/* Home */
#Home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

/* Greetings */

.greetings {
    display: flex;
    flex-direction: column;  /* Menyusun item secara vertikal */
    height: auto;
    grid-auto-rows: auto;
}

.greetings p {
    font-size: 30px;
    color: #2E5077;
    font-family: poppins;
    margin-bottom: 10px;
}

.greetings h1 {
    font-size: 48px;
    color: #2E5077;
    font-family: poppins;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 100px;
    
}

.greetings .btn-container {
    gap: 10px; /* Memberi jarak antar tombol */
}

.social-media {
    margin-top: 150px; /* Memberi jarak antara tombol dan sosial media */
    display: flex;
    gap: 20px; /* Memberi jarak antar ikon sosial media */
}

.sosial-media a {
    display: flex;
    transition: box-shadow 0.3s ease-in-out;
}

.sosial-media a:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* Home Photo */
.HomePhoto img {
    width: 400px;
    height: auto;
}

/* Home Button */
.btn {
    background-color: #5C72FF;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    font-family: poppins;
    font-size: 18px;
    text-decoration: none;
    margin-top: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#btncontactme {
    background-color: rgba(190, 226, 255, 0.1);
    color: #2E5077;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-left: 1rem;
}

#btncontactme:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
}

.btn:hover {
    background-color: #2E5077;
    transition: background-color 0.3s ease-in-out;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

#lingkaran1 {
    position: absolute;
    width: 750px; /* Ukuran lingkaran */
    height: 750px; /* Ukuran lingkaran */
    background-color: #5C72FF; /* Warna latar belakang lingkaran */
    border-radius: 50%; /* Membuat bentuk lingkaran */
    filter: blur(150px); /* Efek blur */
    right: -300px;
    top: 400px;
    z-index: -1;
}

#lingkaran2 {
    position: absolute;
    width: 750px; /* Ukuran lingkaran */
    height: 750px; /* Ukuran lingkaran */
    background-color: #A1EBFF; /* Warna latar belakang lingkaran */
    border-radius: 50%; /* Membuat bentuk lingkaran */
    filter: blur(150px); /* Efek blur */
    right: 200px;
    top: 700px;
    z-index: -1;
}

#lingkaran3 {
    position: absolute;
    width: 750px; /* Ukuran lingkaran */
    height: 750px; /* Ukuran lingkaran */
    background-color: #5C72FF; /* Warna latar belakang lingkaran */
    border-radius: 50%; /* Membuat bentuk lingkaran */
    filter: blur(150px); /* Efek blur */
    left: 50px;
    top: 800px;
    z-index: -4;
}

#lingkaran4 {
    position: absolute;
    width: 750px; /* Ukuran lingkaran */
    height: 750px; /* Ukuran lingkaran */
    background-color: #A1EBFF; /* Warna latar belakang lingkaran */
    border-radius: 50%; /* Membuat bentuk lingkaran */
    filter: blur(150px); /* Efek blur */
    left: -150px;
    top: 400px;
    z-index: -3;
}

/* About Me */
#AboutMe {
    margin-top: 100px;
    height: auto;
}

#AboutMeBody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#AboutMeText {
    font-family: poppins;
    font-size: 48px;
    color: #5C72FF;
}

#fysphoto2 {
    width: 300px;
    height: auto;
    margin-top: 50px;
}

#AboutMeDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#AboutMeBody h2 {
    font-family: poppins;
    font-size: 30px;
    color: #2E5077;
    margin-top: 20px;
}

#AboutMeBody p {
    font-family: poppins;
    font-size: 18px;
    color: #2E5077;
    text-align: justify;
}

.contact-card {
    display: flex;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
    margin: 10px 0;
    font-family: poppins;
}

.email-contact-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.phone-contact-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.instagram-contact-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.linkedin-contact-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.address-contact-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* Education & Skills */
#EducationSkills {
    margin-top: 100px;
    height: auto;
    display: flex;
    gap: 50px;
}

.education {
    background-color: rgba(190, 226, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    display: flex;
}

.education-card {
    font-family: poppins;
    width: 100%;
    padding-left: 150px;
}

.education h2 {
    font-family: poppins;
    font-size: 30px;
    color: #5C72FF;
}

.education-card h3 {
    font-size: 18px;
    color: #2E5077;
}

.education-card p {
    font-size: 18px;
    color: #2E5077;
}

.skills {
    background-color: rgba(190, 226, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h2 {
    font-family: poppins;
    font-size: 30px;
    color: #5C72FF;
}

.skills-card {
    font-family: poppins;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skills-card h3 {
    font-size: 18px;
    color: #2E5077;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle1 {
    position: absolute;
    width: 25px; /* Ukuran lingkaran */
    height: 25px; /* Ukuran lingkaran */
    background-color: #2E5077; /* Warna latar belakang lingkaran */
    border-radius: 50%; /* Membuat bentuk lingkaran */
    left: 30px;
    top: 133px;
    z-index: 1000;
}

#circle2 {
    position: absolute;
    width: 25px; /* Ukuran lingkaran */
    height: 25px; /* Ukuran lingkaran */
    background-color: #2E5077; /* Warna latar belakang lingkaran */
    border-radius: 50%; /* Membuat bentuk lingkaran */
    left: 30px;
    top: 268px;
    z-index: 1000;
}

#circle3 {
    position: absolute;
    width: 25px; /* Ukuran lingkaran */
    height: 25px; /* Ukuran lingkaran */
    background-color: #2E5077; /* Warna latar belakang lingkaran */
    border-radius: 50%; /* Membuat bentuk lingkaran */
    left: 30px;
    top: 358px;
    z-index: 1000;
}

#circle4 {
    position: absolute;
    width: 25px; /* Ukuran lingkaran */
    height: 25px; /* Ukuran lingkaran */
    background-color: #2E5077; /* Warna latar belakang lingkaran */
    border-radius: 50%; /* Membuat bentuk lingkaran */
    left: 30px;
    top: 448px;
    z-index: 1000;
}

#line1 {
    position: absolute;
    width: 6px; /* Ukuran garis */
    height: 320px; /* Ukuran garis */
    background-color: #2E5077; /* Warna garis */
    left: 40px;
    top: 150px;
    z-index: 1000;
}