html {
    scroll-behavior: smooth;
}

body {
    background-color: #DAEAF8;
    height: 1000px;
}

/* Logo */
.main-header {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 50px;
    align-items: center;
}

.logo {
    width: 248px;
}

/* Navigation Bar */
.nav {
    position: sticky;
    top: 20px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    width: 400px;
    font-family: poppins;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000;

    position: fixed;
    right: 50px;
    top: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>a {
    color: black;
    text-decoration-line: none;
    font-size: 18px;
}

.nav a:hover {
    color: #5C72FF;
    transition: color 0.3s ease-in-out;
}

/* Main Content */
main {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

/* Home */
#Home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

/* Greetings */

.greetings {
    display: flex;
    flex-direction: column;  /* Menyusun item secara vertikal */
    height: auto;           /* Menggunakan tinggi penuh viewport untuk memastikan konten terpusat */
}

.greetings p {
    font-size: 30px;
    color: #2E5077;
    font-family: poppins;
    margin-bottom: 10px;
}

.greetings h1 {
    font-size: 48px;
    color: #2E5077;
    font-family: poppins;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 50px;
    
}

.greetings .btn-container {
    gap: 10px; /* Memberi jarak antar tombol */
}

.social-media {
    margin-top: 200px; /* Memberi jarak antara tombol dan sosial media */
    display: flex;
    gap: 20px; /* Memberi jarak antar ikon sosial media */
}

.sosial-media a {
    display: flex;
}

/* Home Photo */
.HomePhoto img {
    width: 400px;
    height: auto;
}

/* Home Button */
.btn {
    background-color: #5C72FF;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    font-family: poppins;
    font-size: 18px;
    text-decoration: none;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#btncontactme {
    background-color: rgba(190, 226, 255, 0.1);
    color: #2E5077;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-left: 1rem;
}

#btncontactme:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
}

.btn:hover {
    background-color: #2E5077;
    transition: background-color 0.3s ease-in-out;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}